<p style="color: green"><%= notice %></p>
<%= link_to "Novo robô", new_task_path, "data-controller":"task-modal", class: 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <th></th>
    <th>Titulo</th>
    <th>Data de início</th>
    <th>Data de fim</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= form_with model: task do |form| %>
            <%= form.check_box :finished, data: { id: task.id, action: "tasks#toggle" } %>
          <% end %>
        </td>
        <td><%= task.tittle %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td>
          <%= link_to "Detalhes", task_path(task), class: 'btn btn-dark' %>
          <%= link_to "Editar", edit_task_path(task), "data-controller":"task-modal", class: 'btn btn-warning' %>
          <%= link_to "Excluir", task_path(task), method: :delete, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente excluir?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
