<div class="d-sm-flex align-items-center justify-content-between mb-3">
  <%= link_to "Novo robô", new_task_path, "data-controller":"task-modal", class: 'btn btn-primary' %>
  <%= form_tag tasks_path, class: 'd-sm-flex', method: :get do %>
    <div class="ml-2">
      <%= text_field_tag :filter_title, params[:filter_title], class: 'form-control', placeholder: 'Titulo' %>
    </div>
    <div class="ml-2">
      <%= text_field_tag :filter_start_date, params[:filter_start_date], class: 'form-control', placeholder: 'Data de inicio' %>
    </div>
    <div class="ml-2">
      <%= text_field_tag :filter_end_date, params[:filter_end_date], class: 'form-control', placeholder: 'Data de termino' %>
    </div>
    <div class="ml-2 mr-2">
      <%= select_tag :filter_priority, options_for_select(Priority.pluck(:name,:id)), class: 'form-control', prompt: 'Selecione uma prioridade' %>
    </div>
    <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
  <% end %>
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Descreva seu robô" aria-label="Descreva seu robô" aria-describedby="basic-addon2">
  <div class="input-group-prepend">
    <%= link_to "Adicionar robô", new_task_path, "data-controller":"task-modal", class: 'btn btn-primary' %>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <th></th>
    <th>Titulo</th>
    <th>Data de início</th>
    <th>Data de fim</th>
    <th>Prioridade</th>
    <th></th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <div class="form-check">
            <%= form_with model: task, class:"form_task " do |f| %>
              <%= f.check_box :finished, class: 'checkbox-toggle form-check-input ml-2' %>
            <% end %>
          </div>
        </td>
        <td class="text-truncate" style="max-width: 300px;"><%= task.title %></td>
        <td><%= task.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= task.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= task.priority.name %></td>
        <td class="text-right">
          <%= link_to "Editar", edit_task_path(task), "data-controller":"task-modal", class: 'btn btn-primary' %>
          <%= link_to "Excluir", task_path(task), method: :delete, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente excluir?' } %>
        </td>
      </tr>
    <% end %>
    <script src="./task/toggleTask.js"></script>
  </tbody>
</table>
