<div class="mb-3">
  <%= form_tag tasks_path, class: 'd-sm-flex', method: :get do %>
    <div class="flex-fill">
      <%= text_field_tag :filter_title, params[:filter_title], class: 'form-control', placeholder: 'Title' %>
    </div>
    <div class="flex-fill ml-2">
      <%= text_field_tag :filter_start_date, params[:filter_start_date], class: 'form-control', placeholder: 'Date Start' %>
    </div>
    <div class="flex-fill ml-2">
      <%= text_field_tag :filter_end_date, params[:filter_end_date], class: 'form-control', placeholder: 'Date End' %>
    </div>
    <div class="flex-fill ml-2">
      <%= select_tag :filter_priority, options_for_select(Task.priorities.map { |key, value| [value.humanize, key] }, params[:filter_priority]), include_blank: 'Priority', class: 'form-control' %>
    </div>
    <div class="flex-fill ml-2">
      <%= select_tag :filter_status, options_for_select(Task.statuses.map { |key, value| [value.humanize, key] }, params[:filter_status]), include_blank: 'Status', class: 'form-control' %>
    </div>
    <div class="flex-fill ml-2 mr-2">
      <%= select_tag :filter_typetask, options_for_select(Task.typetasks.map { |key, value| [value.humanize, key] }, params[:filter_typetask]), include_blank: 'Type', class: 'form-control' %>
    </div>
    <%= submit_tag 'Filter', class: 'btn btn-primary' %>
  <% end %>
</div>
<div class="d-flex justify-content-between mb-3">
  <%= link_to "New Task", new_task_path, "data-controller":"generic-modal", class: 'btn btn-primary flex-fill mr-2' %>
  <%= form_with model: Task.new, url: fast_task_path, method: :post, class: 'd-flex flex-fill' do |f| %>
    <div class="input-group">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Insert Text' %>
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<table class="table table-hover">
  <thead>
    <th></th>
    <th>Title</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Type</th>
    <th>Tags</th>
    <th></th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <div class="form-check">
            <%= form_with model: task, class:"form_task " do |f| %>
              <%= f.check_box :finished, class: 'checkbox-toggle form-check-input ml-2' %>
            <% end %>
          </div>
        </td>
        <td class="text-truncate" style="max-width: 300px;"><%= task.title %></td>
        <td><%= task.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= task.end_date.strftime("%d/%m/%Y") %></td>
        <td><%= task.priority.capitalize if task.priority.present? %></td>
        <td><%= task.status.capitalize if task.status.present? %></td>
        <td><%= task.typetask.capitalize if task.typetask.present? %></td>
        <td><%= task.tags.map(&:name).join(', ') %></td>
        <td class="text-right">
          <%= link_to "Edit", edit_task_path(task), "data-controller":"generic-modal", class: 'btn btn-primary' %>
          <%= link_to "Delete", task_path(task), method: :delete, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Deseja realmente excluir?' } %>
        </td>
      </tr>
    <% end %>
    <script src="./task/toggleTask.js"></script>
  </tbody>
</table>
