<nav class="navbar navbar-light bg-white topbar mb-4 static-top shadow">
  <ul class="navbar-nav">
    <%= form_tag tasks_path, class: 'd-sm-flex', method: :get do %>
      <div class="ml-3">
        <%= text_field_tag :filter_title, params[:filter_title], class: 'form-control', placeholder: 'Titulo' %>
      </div>
      <div class="ml-2">
        <%= text_field_tag :filter_start_date, params[:filter_start_date], class: 'form-control', placeholder: 'Data de inicio' %>
      </div>
      <div class="ml-2">
        <%= text_field_tag :filter_end_date, params[:filter_end_date], class: 'form-control', placeholder: 'Data de termino' %>
      </div>
      <div class="ml-2">
        <%= select_tag :filter_priority, options_for_select(Task.priorities.map { |key, value| [value.humanize, key] }, params[:filter_priority]), include_blank: 'Prioridade', class: 'form-control' %>
      </div>
      <div class="ml-2">
        <%= select_tag :filter_status, options_for_select(Task.statuses.map { |key, value| [value.humanize, key] }, params[:filter_status]), include_blank: 'Status', class: 'form-control' %>
      </div>
      <div class="ml-2 mr-2">
        <%= select_tag :filter_typetask, options_for_select(Task.typetasks.map { |key, value| [value.humanize, key] }, params[:filter_typetask]), include_blank: 'Tipo', class: 'form-control' %>
      </div>
      <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>
    <% end %>
  </ul>
</nav>
